<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, :class => "navbar-brand" do %><strong>Guest Experience Manager</strong><% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Park Control <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">My References</a></li>
            <li><a href="#">Parkwide Watch</a></li>
            <li><a href="#">Reporting</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Department Control</a></li>
            <li><a href="#">User Access Control</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav nav-bar-nav navbar-right">
        <%= link_to experiences_path, :class => "btn btn-warning navbar-btn" do %><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Experience Lookup<% end %>
        <%= link_to guests_path, :class => "btn btn-primary navbar-btn" do %><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Guest Lookup<% end %>
        <%= link_to experiences_path, :class => "btn btn-default navbar-btn" do %><span class="glyphicon glyphicon-file" aria-hidden="true"></span> Employee Login<% end %>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>